{% extends 'base.html' %}
{# extends 必须放在文件的第一句 #}

{# 直接写内容 #}
{% block title %}questions{% endblock %}

{# 各个 block 的顺序无所谓 #}
{% block top %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {# super表示不覆盖父模板该block内容 #}
    {{ super() }}
{% endblock %}

{% block content %}
    {# 没有 super 的时候会用子模板内容覆盖父模板中该 block 的内容 #}
    <table class="table">
        {% for question in questions %}
        <tr class="warning">
            <td><a href="{{ url_for('question.detail', model_id=question.id) }}">{{ question.title }}</a></td>
            <td><a href="{{ url_for('user.profile', model_id=question.user.id) }}"><img width="50" height="50" src="{{ url_for('user.uploaded_file', filename=question.user.avatar) }}" > {{ question.user.username }}</a></td>
            <td>{{ question.updated_time | date_time }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('question.new') }}" class="btn btn-primary" role="button">我要提问</a></p>
{% endblock %}

{# footer 不写，则会直接用父模板中的 block footer 内容 #}
