{% extends 'base.html' %}
{# extends 必须放在文件的第一句 #}

{# 直接写内容 #}
{% block title %}questions{% endblock %}

{# 各个 block 的顺序无所谓 #}
{% block top %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {# super表示不覆盖父模板该block内容 #}
    {{ super() }}
{% endblock %}

{% block content %}
    {# 没有 super 的时候会用子模板内容覆盖父模板中该 block 的内容 #}
    {% for question in questions %}
    <a href="{{ url_for('question.detail', model_id=question.id) }}">
    <div>{{ question.title }} {{ question.user.username }} 更新于 {{ question.updated_time | date_time }}</div>
    </a>
    {% endfor %}
    <p><a href="{{ url_for('question.new') }}" class="btn btn-primary btn-lg active" role="button">我要提问</a></p>
{% endblock %}

{# footer 不写，则会直接用父模板中的 block footer 内容 #}
