{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}博客文章{% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/blog_detail.css', _external=True) }}" rel="stylesheet">
    <style type="text/css">
        [class*="col-"] {
          padding: 15px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="blog-header">
        <h1 class="blog-title">{{ blog.title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-1">
            <a href="{{ url_for('user.profile', user_id=blog.user.id) }}" target="_blank">
            {{ blog.user.username }}
            </a>
        </div>
        <div class="col-md-2">{{ blog.created_time | date_time }}</div>
        <div class="col-md-2">浏览：{{ blog.views }}</div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <p>标签： {{ blog.tag }}</p>
        </div>
    </div>
    <div class="row">
        {{ blog.content | safe }}
    </div>
    <div class="row">
        <div class="col-md-1"><button class="btn btn-primary" id="upvote_blog">点赞</button></div>
        <div class="col-md-1">赞：<span id="vote_num">{{ blog.upvotes }}</span></div>
    </div>

    {% for comment in comments %}
    <div class="border">
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('user.profile', user_id=comment.user.id) }}" target="_blank">
            {{ comment.user.username }}
           </a>
                : {{ comment.content }}
        </div>
        <div class="col-md-2">
            {{ comment.created_time | date_time }}
        </div>
        <div class="col-md-1">
            <button type="button" data-reply-id="{{ comment.id }}" data-reply-user-id="{{ comment.user.id }}" data-reply-username="{{ comment.user.username }}" class="btn btn-default reply">回复</button>
        </div>
    </div>
    {% for reply in comment.reply_comments %}
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('user.profile', user_id=reply.user.id) }}" target="_blank">
            {{ reply.user.username }}
            </a>
            回复
            <a href="{{ url_for('user.profile', user_id=reply.reply_user_id) }}" target="_blank">
            {{ reply.reply_username }}
            </a>
                : {{ reply.content }}
        </div>
        <div class="col-md-2">
            {{ reply.created_time | date_time }}
        </div>
        <div class="col-md-1">
            <button type="button" data-reply-id="{{ reply.id }}" data-reply-user-id="{{ reply.user.id }}" data-reply-username="{{ reply.user.username }}" class="btn btn-default reply">回复</button>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <form class="form form-horizontal" style="display: none;" method="post" role="form" action="{{ url_for('blog.add_reply_comment', blog_id=blog.id) }}">
                {{ reply_form.hidden_tag() }}
                {{ wtf.form_field(reply_form.content, class='reply_content', rows='3', cols='60') }}
                <input type="hidden" value="" name="reply_id" class="reply_id">
                <input type="hidden" value="" name="reply_user_id" class="reply_user_id">
                <input type="hidden" value="" name="reply_username" class="reply_username">
                <input type="hidden" value="{{ current_user.id }}" name="user_id">
                <input type="hidden" value="{{ comment.id }}" name="comment_id">
                {{ wtf.form_field(reply_form.submit) }}
            </form>
        </div>
    </div>
    <div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function () {
        $('#upvote_blog').on('click', function () {
            var blog_id = $('#blog_id').val()
            var user_id = $('#user_id').val()
            var data = {
                'user_id': user_id,
                'blog_id': blog_id
            }

            $.ajax({
                url: '{{ url_for('blog.upvote') }}',
                method: 'post',
                data: data,
                dataType: 'json',
                success: function (r) {
                    if (r.status == 1) {
                        $('#vote_num').text(r.vote_num)
                    } else if (r.status == 0) {
                        alert('您已点过赞')
                    }
                },
                error: function () {
                    console.log('点赞失败');
                }
            });
        });

        $('.reply').each(function () {
            $(this).on('click', function () {
                var reply_id = $(this).attr('data-reply-id');
                var reply_user_id = $(this).attr('data-reply-user-id');
                var reply_username = $(this).attr('data-reply-username');
                var form = $(this).parent().parent().parent().find('form')
                form.find('.reply_id').val(reply_id);
                form.find('.reply_user_id').val(reply_user_id);
                form.find('.reply_username').val(reply_username);
                form.find('.reply_content').attr('placeholder','回复@'+reply_username);
                form.toggle()
            });
        });
    })
    </script>
{% endblock %}
