{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('blog.index') }}"><p class="navbar-text">首页</p></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('blog.user_blog') }}"><p class="navbar-text">我的博客</p></a></li>
                <li><a href="{{ url_for('question.index') }}"><p class="navbar-text">问答</p></a></li>
                <li><a href="{{ url_for('topic.index') }}"><p class="navbar-text">论坛</p></a></li>
                <li><a href="{{ url_for('node.index') }}"><p class="navbar-text">版块</p></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('user.profile', user_id=current_user.id) }}"><img src="{{ url_for('user.uploaded_file', filename=current_user.get_avatar_thumb(50)) }}" /></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
