{% extends 'base.html' %}

{% block title %}个人信息{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        [class*="col-"] {
          padding: 15px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {# super表示不覆盖父模板该block内容 #}
    {{ super() }}
    <!--<script src="{{ url_for('static', filename='js/follow.js', _external=True) }}"></script>-->
    <script>
        $(document).ready(function () {
            $('#follow-button').on('click', function () {
                var follow_id = {{ current_user.id }};
                var followed_id = {{ user.id }};
                var data = {
                    follow_id: follow_id,
                    followed_id: followed_id,
                };

                var request = {
                    url: "{{ url_for('follow.follow') }}",
                    type: "post",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function(r) {
                        if (r.status == 1) {
                            $('#follow-button').html('取消关注')
                        } else if (r.status == 2) {
                            $('#follow-button').html('关注')
                        } else if (r[0].status == 0) {
                            alert('操作失败')
                        }
                    },
                    error: function(err) {
                        log('error', err);
                    }
                }
                $.ajax(request);
            });
        });
    </script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>个人信息</h1>
</div>
<div class="row">
    <div class="col-md-2">用户名: </div>
    <div class="col-md-3">{{ user.username }}</div>
</div>
<div class="row">
    <div class="col-md-2">头像: </div>
    <div class="col-md-3"><img src="{{ url_for('user.uploaded_file', filename=user.avatar) }}" width="50" height="50"></div>
</div>
<div class="row">
    <div class="col-md-2">邮箱: </div>
    <div class="col-md-3">{{ user.email }}</div>
</div>
<div class="row">
    <div class="col-md-2">qq: </div>
    <div class="col-md-3">{{ user.qq }}</div>
</div>
<div class="row">
    <div class="col-md-2">签名: </div>
    <div class="col-md-3">{{ user.signature }}</div>
</div>
<div class="row">
    <div class="col-md-5">
    {% if status == 1 %}
        <button id="follow-button" class="btn btn-sm btn-primary" type="button">取消关注</button>
    {% elif status == 2 %}
        <button id="follow-button" class="btn btn-sm btn-primary" type="button">关注</button>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        {% if current_user.id == user.id %}
        <a href="{{ url_for('user.edit', user_id=user.id) }}" class="btn btn-sm btn-primary" role="button">修改信息</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        {% if current_user.id == user.id %}
        <a href="{{ url_for('user.edit_password') }}" class="btn btn-sm btn-primary" role="button">修改密码</a>
        {% endif %}
    </div>
</div>

{% endblock %}
