{% extends 'base.html' %}
{# extends 必须放在文件的第一句 #}

{# 直接写内容 #}
{% block title %}user profiles{% endblock %}

{# 各个 block 的顺序无所谓 #}

{% block top %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {# super表示不覆盖父模板该block内容 #}
    {{ super() }}
{% endblock %}

{% block content %}
    {# 没有 super 的时候会用子模板内容覆盖父模板中该 block 的内容 #}
    <table class="table">
        <tr class="warning">
            <td>用户名: </td>
            <td>{{ user.username }}</td>
        </tr>
        <tr class="warning">
            <td>邮箱: </td>
            <td>{{ user.email }}</td>
        </tr>
        <tr class="warning">
            <td>qq: </td>
            <td>{{ user.qq }}</td>
        </tr>
        <tr class="warning">
            <td>签名: </td>
            <td>{{ user.signature }}</td>
        </tr>
    </table>

    <p><a href="{{ url_for('user.edit', model_id=user.id) }}" class="btn btn-primary" role="button">修改个人资料</a></p>
    <p><a href="{{ url_for('user.edit_password', model_id=user.id) }}" class="btn btn-primary   " role="button">修改密码</a></p>
{% endblock %}

{# footer 不写，则会直接用父模板中的 block footer 内容 #}
